<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info Menu</title>
</head>
<body>
<div th:fragment="infoFragment">
    <script src="../static/js/commandTransmitter.js" type="text/javascript" th:src="@{/js/commandTransmitter.js}"></script>
    <div class="shipInfo" th:if="${started}">
        <div class="nextTurn" th:unless="${turn == null}">
            <div  th:text="'Turn ' + ${turn}"/>
            <a class="buttonLook nextTurnButton" th:href="@{|/game|}">Next Turn</a>
        </div>
        <div id="selectedTile">No tile selected </div>
        <div id="hasShip"></div>
        <div class="shipDetails">
            <div id="shipType"></div>
            <div id="initiative"></div>
            <div id="weaponType"></div>
            <div id="weaponRange"></div>
            <div id="direction"></div>

            <div id="commandButtons" class="commandButtons" style="display: none">
                <div id="command" th:each="command, status: ${commands}"
                     th:data-parameter1="${status.index}"
                     th:onclick="transmitCommand(this.getAttribute('data-parameter1'));">
                    <div th:classappend="${status.index == 0} ? selectedCommand : ''" class="command buttonLook smallButton" th:text="${command}">
                    </div>
                </div>
            </div>
            <div class="targetInfoContainer">
                <div class="targetLabel">
                    Target: NONE
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>