<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info Menu</title>
</head>
<body>
<div th:fragment="info">
    <div th:if="${started}">
        <div id="selectedTile">No tile selected </div>
        <div id="hasShip"></div>
        <div id="shipType"></div>
        <div id="initiative"></div>
        <div id="weaponType"></div>
        <div id="weaponRange"></div>
        <div id="direction"></div>
    </div>
</div>
</body>
</html>