.board{
    display: grid;
    gap: 1px;
}

.tiles:hover{
    opacity: 0.5;
}

.tile{
    width: 20px;
    heigth: 20px;
    padding-top: 20px;
    opacity: 0.5;
}

.water{
    background: royalblue;
}

.ship{
    background: orangered;
}