.game{
    margin: 150px 100px 5px 100px;
}

.board{
    display: grid;
    gap: 1px;
    pointer-events: none;
    opacity: 0.5;
    margin-bottom: 100px;
}

.tile:hover{
    opacity: 0.5;
}

.tileContent{
    width: 20px;
    heigth: 20px;
    /*padding-top: 20px;*/
    text-align: center;
    opacity: 0.5;
    /*font-size: 5px;*/
}

.water{
    background: royalblue;
}

.invisible{
    background: darkblue;
    color: var(--foregroundColor);
}

.player_1{
    background: var(--player1Color);
}

.player_2{
    background: var(--player2Color);
}

.command{
    padding: 5px 10px 5px 10px;
}

.commandButtons{
    display: flex;
}

.shipInfo{
    margin: 5px 100px 50px;
    pointer-events: none;
    opacity: 0.5;
}

.menuForm{
    margin-left: 20vw;
}

.formElement{
    margin-top: 20px;
}

.startGameButton{
    margin-left: 25%;
}

.filtername{
    margin-left:75px;
}

.selectedCommand{
    text-decoration: underline;
    border: 2px solid var(--mainBgColor);
}

.targetInfoContainer{
    display: none;
}

.targetLabel{
    padding: 5px 20px;
}

.targetInRange:hover{
    background-color: var(--targetInRangeColor);
}

.target{
    background-color: var(--targetColor);
    opacity: 0.6;
}

.nextTurn{
    display: flex;
    margin-bottom: 10px;
}

.nextTurn:first-child{
    margin-right: 50px;
    font-size: 24px;
}

.nextTurnButton{
    padding: 5px 50px;
}

.shipDetails{
    display: none;
    float: right;
}

.shipParameter{
    display: flex;
}

.paramLabel{
    margin-right: 25px;
}
