:root {
    --foregroundColor: #B0B8BF;
    --mainBgColor: #364C59;
    --secondBgColor: #70818C;
    --textColor: #0F1D26;
    --colorAccent:#401C0F;
    --homeTitleSize: 75px;
    --pageTitleSize: 30px;
    --paragraphSize: 16px;
    --footerTextSize:11px;
    --pageContentTopMargin: 100px;
    --pageContentLeftMargin: 50px;
    font-family: Calibri;
}

body{
    margin: 0;
    background-color: var(--secondBgColor);
}

header{
    background-color: var(--mainBgColor);
    padding: 20px 75px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

footer{
    background-color: var(--mainBgColor);
    margin: 0;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    width: 100vw;
}

h1{
    color: var(--foregroundColor);
    font-size: var(--homeTitleSize);
    margin: 20px 40px;
}

h2{
    color: var(--textColor);
    font-size: var(--pageTitleSize);
    margin-bottom: 10px;
}

.homeTitle{
    position: fixed;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 800ms;
    animation-timing-function: ease;
    font-family: MedievalSharp;
}

footer-text{
    color: var(--foregroundColor);
    font-weight: 200;
    font-size: var(--footerTextSize);
    margin-left: 40px;
}

p{
    color: var(--textColor);
    font-size: var(--paragraphSize);
    margin: 0px 10px 10px 0px;
}

img{
    margin: 0;
}

.navButtons {
    display: flex;
    margin-left: auto;
    width: 80vw;
}

.buttonLook{
    background-color: var(--foregroundColor);
    color: var(--mainBgColor);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}

.buttonLook:hover{
    opacity: 0.5;
}

.buttonLook:active{
    transform: translateY(4px);
}

.menuButtons{
    margin-left: 10px;
}

.menuButton{
    display: block;
    margin: 0 10px;
    width: 9em;
    padding: 0.2em;
}

.mediumButton {
    display: block;
    margin: 10px 40px;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
}

.smallButton {
    margin: 10px 10px 10px 0px;
}

.cycleButtons{
    display: flex;
}

.pageContent{
    margin-top:var(--pageContentTopMargin);
    margin-left:var(--pageContentLeftMargin);
    animation: fadeIn 800ms;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 0.9;}
}


/*@keyframes slideDown {
    0%   {margin-top: -100vh;}
    100% {margin-top: var(--pageContentTopMargin);}
}

@keyframes slideDownTitle {
    0%   {top: -50%;}
    100% {top: 25%;}
}*/

.infoLine p:first-child{
    float: left;
}

.menuHeader{
    z-index: 1;
    top: 50px;
}

.homeImg{
    width: 100vw;
    position: absolute;
    left: 0;
    top:0;
}