<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang=approachlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepagina</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/game.css}" href="/css/game.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/menu :: menu">Hier komt het top menu</div>
<script src="../static/js/tileSelector.js" type="text/javascript" th:src="@{/js/tileSelector.js}"></script>
<div class="game">
    <div  class="board"
          th:style="|grid-template-rows: repeat(${board.width}, ${tileSize}px);
        grid-template-columns: repeat(${board.height}, ${tileSize}px);|"
    th:if="${started}">
    <div class="tiles" th:each="tile, status: ${board.tiles}">
        <div th:data-parameter1="${tile.location.x}"
             th:data-parameter2="${tile.location.y}"
             th:data-parameter3="${board.hasShipAt(tile.location)}"
             th:data-parameter4="${board.hasShipAt(tile.location) == true ?
                                   board.getSegmentAt(tile.location).ship.id : null}"
             th:data-parameter5="${board.hasShipAt(tile.location) == true ?
                                   board.getSegmentAt(tile.location).ship.shipType : null}"
             th:data-parameter6="${board.hasShipAt(tile.location) == true ?
                                   board.getSegmentAt(tile.location).ship.initiative : null}"
             th:data-parameter7="${board.hasShipAt(tile.location) == true ?
                                   board.getSegmentAt(tile.location).ship.weaponType : null}"
             th:data-parameter8="${board.hasShipAt(tile.location) == true ?
                                   board.getSegmentAt(tile.location).ship.weaponRange : null}"
             th:data-parameter9="${board.hasShipAt(tile.location) == true ?
                                   board.getSegmentAt(tile.location).ship.directionType : null}"
             th:data-parameter10="${board.hasShipAt(tile.location) == true ?
                                   board.getSegmentAt(tile.location).ship.formattedLocationsInRange(board) : null}"
             th:onclick="clicked(this.getAttribute('data-parameter1'),
                                 this.getAttribute('data-parameter2'),
                                 this.getAttribute('data-parameter3'),
                                 this.getAttribute('data-parameter4'),
                                 this.getAttribute('data-parameter5'),
                                 this.getAttribute('data-parameter6'),
                                 this.getAttribute('data-parameter7'),
                                 this.getAttribute('data-parameter8'),
                                 this.getAttribute('data-parameter9'),
                                 this.getAttribute('data-parameter10'));"
             th:id="${tile.locationStr()}"
             class="tile"
             th:classappend="${board.hasShipAt(tile.location) ? 'ship' : 'water'}"
             th:text="${board.hasShipAt(tile.location) ? '-' : '~'}">
        </div>
    </div>
    </div>
</div>
    <div th:replace="fragments/info :: info">Hier komt de info</div>
</body>
</html>