<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang=approachlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepagina</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/game.css}" href="/css/game.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/menu :: menu">Hier komt het top menu</div>
<script src="../static/js/tileSelector.png" type="text/javascript" th:src="@{/js/tileSelector.js}"></script>
<div class="game">
    <div  class="board"
          th:style="|grid-template-rows: repeat(${board.width}, ${tileSize}px);
        grid-template-columns: repeat(${board.height}, ${tileSize}px);|"
    th:if="${started}">
    <div class="tile" th:each="tile, status: ${board.tiles}">
        <div th:data-parameter1="${tile.location.x}"
             th:data-parameter2="${tile.location.y}"
             th:onclick="clicked(this.getAttribute('data-parameter1'), this.getAttribute('data-parameter2'));"
             class="tileContent water">
            <span th:if="${board.hasShipAt(tile.location)}">Q</span>
        </div>
    </div>
        <div class="ships">
            <div class="ship" th:each="ship, status: ${ships}">
                <div class="tileContent shipContent"
                    th:text="|${ship.toString()}|"></div>
            </div>
        </div>
    </div>
</div>
    <div th:replace="fragments/info :: info">Hier komt de info</div>
</body>
</html>

<!--
<div  class="board"
     th:style="|grid-template-rows: repeat(${board.width}, ${tileSize}px);
        grid-template-columns: repeat(${board.height}, ${tileSize}px);|">
    <div class="tile" th:each="tile, status: ${board.tiles}">
        <img th:data-parameter1="${tile.location.x}"
             th:data-parameter2="${tile.location.y}"
             th:onclick="clicked(this.getAttribute('data-parameter1'), this.getAttribute('data-parameter2'));"
             th:src="@{/img/tile.png}" alt="Image of a tile"/>
    </div>
</div>
-->