<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shipopedia</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/game.css}" href="/css/game.css" />
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/styles.css}" href="/css/styles.css" />
</head>
<body>
<div th:replace="fragments/header :: header">Hier komt de header</div>
<div class="pageContent">
    <div class="row1">
        <p class="info" th:text="|${numShips} ships found|">Number of ships</p>
        <div class="filters">
            <a class="buttonLook filterButton" th:href="@{'/shipopedia' + ${filter == false ? '/filter' : ''}}"
               th:text="${filter == false ? '+' : '-'}">+</a>
            <div class="filters" th:if="${filter}">
                <form>
                    <div class="onefilter">
                        <input type="submit" value="search" class="buttonLook">
                    </div>
                    <h3>search</h3>
                    <div class="onefilter">
                        <label for="keyword" class="filtername">keyword</label>
                        <input type="text" id="keyword" name="keyword" th:value="${keyword}"> <span>search</span>
                    </div>
                    <div class="onefilter">
                        <label for="keyword" class="filtername">keyword</label>
                        <select name="shipTypeSelect" id="shipTypeSelect" >
                            <option>
                                <span  value="All">All</span>
                            </option>
                            <option th:each="ship, status: ${allShips}">
                                <span  th:value="${ship.shipType}" th:text="${ship.shipType}">Ship type</span>
                            </option>
                        </select>
                    </div>
                    <!--<div class="onefilter">
                        <input type="radio" id="asc" name="sortDirection" value="ascending" checked="checked">
                        <label for="asc">Ascending</label>
                        <input type="radio" id="desc" name="sortDirection" value="descending">
                        <label for="desc">Descending</label>
                        <select name="propertySelect" id="propertySelect" >
                            <option th:each="prop, status: ${shipProperties}">
                                <span  th:value="${prop}" th:text="${prop}">Property name</span>
                            </option>
                        </select>
                    </div>-->
                </form>
            </div>
        </div>
        <div class="row1content">
            <h2>Ships</h2>
            <div class="shipopedia">
                <div th:each="ship, status: ${ships}">
                    <a class="buttonLook mediumButton" th:href="@{'/shipDetails/'+${status.index + 1}}">
                        <span th:text="${ship.shipType}">ship type</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">Hier komt de footer</div>
</body>
</html>